# Lab 1.1 Writing Good Python Code

## How to use a Python notebook

* `Shift-Enter` to run the current cell and move to the next one
* You can add code or text cells
* The result of the last line in each block will be printed out, unless it is an assignment

Remember -- your variables persist as you move between cells!  Be careful about moving backward in the code -- you might enter an unexpected state where your variables are not initialized properly.  If you are seeing strange code behavior, try restarting the kernel and running the notebook again.

## Use list iteration rather than indexing

Rather than iterating through a list using `range(len(list))`, simply iterate on the list directly.

In [1]:
fruits = ['apple','orange','guava','cherry']
# fruits

❌

In [2]:
for i in range(len(fruits)):
  fruit = fruits[i]
  print(fruit)

apple
orange
guava
cherry

✅

In [3]:
for fruit in fruits:
  print(fruit)

apple
orange
guava
cherry

If you need the index of the item, use `enumerate`.

In [4]:
for i,fruit in enumerate(fruits):
  print(i,fruit)

0 apple
1 orange
2 guava
3 cherry

## Use list comprehensions rather than for loops to build lists

The list comprehension syntax is much shorter and cleaner than building a list using a for loop.

❌

In [5]:
first_letter = []
for fruit in fruits:
  first_letter.append(fruit[0])
first_letter

['a', 'o', 'g', 'c']

✅

In [6]:
first_letter = [fruit[0] for fruit in fruits]
first_letter

['a', 'o', 'g', 'c']

## Use `map` to apply an operation to a list

If you need to do something to each item in a list, use `map` rather than a for loop.  Note that `map` by itself won't run the loop; you need to do `list(map(...))` for the code to actually run.

❌

In [7]:
first_letter = []
for fruit in fruits:
  first_letter.append(fruit[0])
first_letter

['a', 'o', 'g', 'c']

✅

In [8]:
def get_first_letter(word):
  return word[0]
first_letter = list(map(get_first_letter,fruits))
first_letter

['a', 'o', 'g', 'c']

With a `lambda` function:

In [9]:
first_letter = list(map(lambda x:x[0],fruits))
first_letter

['a', 'o', 'g', 'c']

I also like the list comprehension style which I think is more readable:

In [10]:
first_letter = [fruit[0] for fruit in fruits]
first_letter

['a', 'o', 'g', 'c']

You can even include a conditional in the list comprehension:

In [11]:
first_letter = [fruit[0] for fruit in fruits if fruit != 'orange']
first_letter

['a', 'g', 'c']

However it is not good practice to use a list comprehension when youre intent is not to create a list, as in this example:

In [12]:
[print(fruit) for fruit in fruits]

apple
orange
guava
cherry

[None, None, None, None]

Here we are needlessly allocating a list filled with `None`.  It is more readable to simply use a for loop here:

In [13]:
for fruit in fruits:
  print(fruit)

apple
orange
guava
cherry

## Advanced: generator versus list

Sometimes actually you don't need to store the result of the transformation.  In this case you can use a generator, which will produce the transformed list items on demand.

In [14]:
first_letter = (fruit[0] for fruit in fruits if fruit != 'orange')
first_letter

In [15]:
first_letter = map(get_first_letter,fruits)
first_letter

In [16]:
for w in first_letter:
  print(w)

a
o
g
c

## Don't initialize variables unnecessarily

If you have coded in other languages like Javascript, Java, or C/C++, you may be accustomed to initializing all variables before they are used.  Often this is not necessary in Python (which doesn't have static typing, anyway).

❌

In [17]:
i = 0 # there is no need to initialize i or j here
j = 0
for i in range(2):
  for j in range(2):
    print(i+j)

0
1
1
2

❌

In [18]:
animals = ['dog','cat','orangutan']
animal_first_letters = [] # no need to create an empty list here
animal_first_letters = [animal[0] for animal in animals]
animal_first_letters

['d', 'c', 'o']

## Format strings the Python 3 way

In Python 2 you would format strings using C-style format strings.  Python 3 introduce the f-string format which is much more readable.

❌

In [19]:
names = ['alice','bob','clara']
for name,fruit in zip(names,fruits):
  s = '%s likes %s'%(name,fruit)
  print(s)

alice likes apple
bob likes orange
clara likes guava

✅

In [20]:
names = ['alice','bob','clara']
for name,fruit in zip(names,fruits):
  s = f'{name} likes {fruit}'
  print(s)

alice likes apple
bob likes orange
clara likes guava

### You can even run Python code inside of the curly brackets!

In [21]:
names = ['alice','bob','clara']
for name,fruit in zip(names,fruits):
  s = f'{name[0]} likes {fruit[0]}'
  print(s)

a likes a
b likes o
c likes g

In [22]:
for i in range(10):
  s = f'{i/3}'
  print(s)

0.0
0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666667
2.0
2.3333333333333335
2.6666666666666665
3.0

## Formatting numbers:

In [23]:
for i in range(10):
  s = f'{i/3:.2f}'
  print(s)

0.00
0.33
0.67
1.00
1.33
1.67
2.00
2.33
2.67
3.00

# Exercises

In the following code exercises, follow the guidance from the lab and write your code to be as compact and Pythonic as you can.

Here is some text from a Shakespeare sonnet:

sonnet = """Shall I compare thee to a summer’s day?
Thou art more lovely and more temperate.
Rough winds do shake the darling buds of May,
And summer’s lease hath all too short a date."""

1. Make a list of each word in the text, in lowercase and without punctuation.

*Hint: look at Python string functions like `replace`, `lower`, and `split`, if you are not familiar with them.*

In [29]:
import string

sonnet = """Shall I compare thee to a summer’s day? Thou art more lovely and more temperate. Rough winds do shake the darling buds of May, And summer’s lease hath all too short a date."""

words = [word.lower().translate(str.maketrans('','', string.punctuation)) for word in sonnet.split(' ')]
words

['shall',
 'i',
 'compare',
 'thee',
 'to',
 'a',
 'summer’s',
 'day',
 'thou',
 'art',
 'more',
 'lovely',
 'and',
 'more',
 'temperate',
 'rough',
 'winds',
 'do',
 'shake',
 'the',
 'darling',
 'buds',
 'of',
 'may',
 'and',
 'summer’s',
 'lease',
 'hath',
 'all',
 'too',
 'short',
 'a',
 'date']

2. Make a dictionary where each key is a word in the text and each value is the number of times that word appears in the text.  For example:

```
shall: 1
a: 2
...
```

*Hint: see `str.count()` or the `collections.Counter`.*

In [30]:
from collections import Counter
word_counts = Counter(words)
word_counts

Counter({'shall': 1,
         'i': 1,
         'compare': 1,
         'thee': 1,
         'to': 1,
         'a': 2,
         'summer’s': 2,
         'day': 1,
         'thou': 1,
         'art': 1,
         'more': 2,
         'lovely': 1,
         'and': 2,
         'temperate': 1,
         'rough': 1,
         'winds': 1,
         'do': 1,
         'shake': 1,
         'the': 1,
         'darling': 1,
         'buds': 1,
         'of': 1,
         'may': 1,
         'lease': 1,
         'hath': 1,
         'all': 1,
         'too': 1,
         'short': 1,
         'date': 1})

Here's a list of numbers:

In [32]:
numbers = [3,57,923,402,15,345,2,456,678,453,23,455,7,5,44,3,345,555,566]

3. Make a list of Booleans indicating whether each number is odd.

In [34]:
even_odd = [number % 2 != 0 for number in numbers]
even_odd

[True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False]

4. Make a list of only the odd numbers.

In [36]:
odds_only = [number for number in numbers if number % 2 != 0]
odds_only

[3, 57, 923, 15, 345, 453, 23, 455, 7, 5, 3, 345, 555]

5. Print whether each number is odd or even.  The output should look like this:

```
3 is odd
57 is odd
923 is odd
402 is even
...
```

In [38]:
for number in numbers:
    print(f'{number} is {"odd" if number % 2 != 0 else "even"}')

3 is odd
57 is odd
923 is odd
402 is even
15 is odd
345 is odd
2 is even
456 is even
678 is even
453 is odd
23 is odd
455 is odd
7 is odd
5 is odd
44 is even
3 is odd
345 is odd
555 is odd
566 is even